$primaryColor: #40A578;
$primaryFont: #E6FF94; 

$secondaryColor: #A5DD9B;
$secondaryFont: #006769;

$infoFont: #FFF;
$infoTransparent: #FFFFFFAA;
$primaryColorTransparent: #40A578AA;
$transparent: #FFFFFF00;

