@use "./helpers/_placeholders";
@use "./helpers/_variables" as var;
@use "./helpers/_mixins" as mx;

@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body,
#sectionCheck article h3,
#sectionCheck article p {
    @extend %noMarPad;
}

hgroup {
    background-color: var.$primaryColor;


    nav {
        background-color: var.$secondaryColor;
        @include mx.flexing(row, 1rem);
        justify-content: center;
        height: 80px;
        width: 100%;

        ul {
            @include mx.flexing(row, 1rem);
            align-items: center;

            li {
                list-style: none;
                text-transform: uppercase;
                @include mx.pageFont(400, normal, var.$secondaryFont);

                a {
                    text-decoration: none;
                    @include mx.pageFont(400, normal, var.$secondaryFont);

                    &:hover {
                        color: var.$infoFont;
                    }
                }
            }
        }
    }

    header {
        display: flex;
        justify-content: center;
        height: 1390px;
        position: relative;
        z-index: 1;

        .hero-container {
            // position: relative;
            display: flex;
            justify-content: center;
            width: 1600px;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            .header-text {
                display: flex;
                flex-direction: column;
                color: var.$primaryFont;
                position: absolute;
                top: 250px;
                left: 250px;
                height: 500px;
                width: 592px;
                z-index: 5;

                h1 {
                    @include mx.pageFont(400, normal, var.$primaryFont);
                    font-size: 120px;
                    @extend %noMarPad;
                }
            }




            span {
                background-color: var.$primaryColor;
                border: 5px solid var.$primaryFont;
                border-radius: 50%;

            }

            #circle1 {
                display: flex;
                justify-content: center;
                position: absolute;
                width: 680px;
                 height: 680px;
                top: 300px;
                // left: 350px;
            }

            #circle2 {
                display: flex;
                position: absolute;
                justify-content: center;
                width: 300px;
                height: 300px;
                top: 680px;
                left: 850px;

                .header-subtext {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    text-transform: uppercase;

                    h4 {
                        @include mx.pageFont(400, normal, var.$primaryFont);
                        font-size: 24px;
                        @extend %noMarPad;
                        text-align: center;
                    }
                }
            }
        }
    }




}

#sectionCalc {
    @include mx.pageFont(400, normal, var.$primaryFont);
    @include mx.sectionColoring(var.$secondaryColor, var.$primaryFont);
    @include mx.flexing(column, 1rem);
    justify-content: center;
    height: 1440px;
    position: relative;

    span {
        @include mx.sectionCircle(var.$secondaryColor, 7px solid var.$primaryColor);
        @include mx.flexing(column, 0);
        @extend %flexAbsoluteCenter;
        top: -8.8%;

        h2 {
            @include mx.pageFont(400, normal, var.$secondaryFont);
            font-size: 24px;
        }
    }

    article {
        @include mx.flexing(column, 0);
        align-items: center;

        h3 {
            @include mx.pageFont(400, normal, var.$primaryColor);
            @extend %noMarPad;
            margin-bottom: 3rem;
            font-size: 48px;
        }

        h4 {
            @include mx.pageFont(400, normal, var.$secondaryFont);
            @extend %noMarPad;
            margin-bottom: 3rem;
            font-size: 36px;
        }

        p {
            font-size: 20px;
            @extend %noMarPad;
            @include mx.pageFont(400, normal, var.$secondaryFont);
        }

        input {
            @include mx.sectionColoring(var.$primaryColor, var.$secondaryColor);
            @include mx.pageFont(400, normal, var.$infoFont);
            border: none;
            border-radius: 2rem;
            font-size: 20px;
            margin-top: 4rem;
            width: 40rem;
            padding: 1rem 2rem;

            &::placeholder {
                font-size: 20px;
                color: var.$infoFont;
            }
        }

        textarea:focus,
        input:focus {
            outline: none;
        }

        button {
            @include mx.sectionColoring(var.$primaryColor, var.$secondaryFont);
            @include mx.pageFont(400, normal, var.$infoFont);
            margin-top: 2rem;
            border: none;
            border-radius: 2rem;
            width: 12rem;
            padding: 0.5rem 2rem;
        }

    }


}

#sectionCheck {
    @include mx.pageFont(400, normal, var.$primaryFont);
    @include mx.sectionColoring(var.$primaryColor, var.$primaryFont);
    @include mx.flexing(column, 1rem);
    justify-content: center;
    height: 1440px;
    position: relative;

    span {
        @include mx.sectionCircle(var.$primaryColor, 7px solid var.$secondaryColor);
        @include mx.flexing(column, 0);
        @extend %flexAbsoluteCenter;
        top: -8.8%;

        h2 {
            @include mx.pageFont(400, normal, var.$secondaryColor);
            font-size: 24px;
        }
    }

    article {
        @include mx.flexing(column, 0);
        align-items: center;

        h3 {
            @include mx.pageFont(400, normal, var.$primaryFont);
            @extend %noMarPad;
            margin-bottom: 3rem;
            font-size: 36px;
        }

        p {
            font-size: 20px;
            @extend %noMarPad;
        }

        input {
            @include mx.sectionColoring(var.$secondaryColor, var.$secondaryFont);
            @include mx.pageFont(400, normal, var.$secondaryFont);
            border: none;
            border-radius: 2rem;
            font-size: 20px;
            margin-top: 4rem;
            width: 40rem;
            padding: 1rem 2rem;

            &::placeholder {
                font-size: 20px;
                color: var.$primaryColor;
            }
        }

        textarea:focus,
        input:focus {
            outline: none;
        }

        button {
            @include mx.sectionColoring(var.$secondaryColor, var.$secondaryFont);
            @include mx.pageFont(400, normal, var.$secondaryFont);
            margin-top: 2rem;
            border: none;
            border-radius: 2rem;
            width: 12rem;
            padding: 0.5rem 2rem;
        }

    }
}

#sectionResource {
    @include mx.pageFont(400, normal, var.$secondaryFont);
    @include mx.sectionColoring(var.$secondaryColor, var.$secondaryFont );
    @include mx.flexing(column, 1rem);
    justify-content: center;
    height: 940px;
    position: relative;

    span {
        @include mx.sectionCircle(var.$secondaryColor, 7px solid var.$primaryColor);
        @include mx.flexing(column, 0);
        @extend %flexAbsoluteCenter;
        top: -13.6%;

        h2 {
            @include mx.pageFont(400, normal, var.$secondaryFont);
            font-size: 24px;
        }
    }

    article {
        @include mx.flexing(column, 4rem);
        padding-left: 15rem;
        position: relative;

        h2 {
            @extend %noMarPad;
            @include mx.pageFont(400, normal, var.$secondaryFont);
            font-size: 64px;
        }

        p {
            font-size: 20px;
            width: 25%;
        }

        ul {
            @extend %noMarPad;
            margin-left: 1rem;
            @include mx.flexing(column, 1.5rem);

            li {
                &:hover {
                    color: var.$infoFont;
                }

                a {
                    font-size: 20px;
                    color: var.$secondaryFont;

                    &:hover {
                        color: var.$infoFont;
                    }
                }

            }
        }
    }



    // #resourceCircle {
    //     background-color: var.$primaryColor;
    //     border: 5px solid var.$primaryFont;
    //     border-radius: 50%;
    //     position: absolute;
    //     left: 50%;
    //     width: 590px;
    //     height: 590px
    // }
}


#sectionMission {
    @include mx.pageFont(400, normal, var.$primaryFont);
    @include mx.sectionColoring(var.$primaryColor, var.$secondaryFont );
    @include mx.flexing(column, 1rem);
    justify-content: center;
    height: 940px;
    position: relative;

    span {
        @include mx.sectionCircle(var.$primaryColor, 7px solid var.$secondaryColor);
        @include mx.flexing(column, 0);
        @extend %flexAbsoluteCenter;
        top: -13.6%;

        h2 {
            @include mx.pageFont(400, normal, var.$secondaryColor);
            font-size: 24px;
        }
    }

    article {
        @include mx.flexing(column, 4rem);
        padding-left: 15rem;

        h2 {
            @extend %noMarPad;
            @include mx.pageFont(400, normal, var.$primaryFont);
            font-size: 64px;
        }

        p {
            font-size: 20px;
            width: 25%;
            color: var.$infoFont;
        }
    }

}

.container-footer {
    @include mx.sectionColoring(var.$primaryColor, var.$infoFont);
    @include mx.gridable(2, 1fr, 0);
    padding: 5rem;
    height: 350px;

    #footerInfo {
        @include mx.gridable(3, 1fr, 2rem);

        ul {
            @extend %noMarPad;

            li,
            h5,
            p {
                @include mx.pageFont(400, normal, var.$infoFont);
                @extend %noMarPad;
                font-size: 20px;
            }

            text-decoration: none;
            list-style: none;

            li {

                h5 {
                    margin-bottom: 2rem;
                }

            }

            form {
                @include mx.flexing(column, 1rem);

                input {
                    @include mx.pageFont(400, normal, var.$secondaryFont);
                    border: none;
                    border-radius: 2rem;
                    width: 12rem;
                    padding: 0.5rem 2rem;
                }

                textarea:focus,
                input:focus {
                    outline: none;
                }
            }

            form:nth-child(1) {
                @include mx.sectionColoring(var.$secondaryColor, var.$secondaryFont);
            }

            form:nth-child(2) {
                @include mx.sectionColoring(var.$secondaryColor, var.$secondaryFont);
            }

        }

        ul:nth-child(2) li:nth-child(2) {
            margin-bottom: 2rem;
        }

        ul:nth-child(3) li:nth-child(2) {
            margin-top: -1rem;
            margin-bottom: 1rem;
        }
    }

    #footerLogo {

        p,
        h2 {
            @extend %noMarPad;
            @include mx.pageFont(400, normal, var.$infoFont);
            font-size: 20px;
        }

        h2 {
            @include mx.pageFont(400, normal, var.$primaryFont);
            font-size: 64px;
        }
    }
}