@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body,
#sectionCheck article h3,
#sectionCheck article p, hgroup header .header-text h1, hgroup header .header-subtext h4, #sectionCalc article h3, #sectionCalc article h4, #sectionCalc article p, #sectionResource article h2, #sectionResource article ul, #sectionMission article h2, .container-footer #footerInfo ul, .container-footer #footerInfo ul li,
.container-footer #footerInfo ul h5,
.container-footer #footerInfo ul p, .container-footer #footerLogo p, .container-footer #footerLogo h2 {
  margin: 0;
  padding: 0;
}

#sectionCalc span, #sectionCheck span, #sectionResource span, #sectionMission span {
  justify-content: center;
  align-items: center;
}

hgroup {
  background-color: #40A578;
}
hgroup header {
  display: flex;
  width: 100%;
  height: 1058px;
  position: relative;
}
hgroup header .header-text {
  display: flex;
  flex-direction: column;
  color: #E6FF94;
  position: absolute;
  top: 276px;
  left: 186px;
  height: 500px;
  width: 592px;
}
hgroup header .header-text h1 {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #E6FF94;
  font-size: 128px;
}
hgroup header .header-subtext {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 886px;
  left: 921px;
  height: 89px;
  width: 239px;
}
hgroup header .header-subtext h4 {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #E6FF94;
  font-size: 24px;
}
hgroup nav {
  background-color: #A5DD9B;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  height: 80px;
  width: 100%;
}
hgroup nav ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
hgroup nav ul li {
  list-style: none;
  text-transform: uppercase;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #006769;
}
hgroup nav ul li a {
  text-decoration: none;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #006769;
}
hgroup nav ul li a:hover {
  color: #FFF;
}
hgroup span {
  padding: 5vw;
  background-color: #40A578;
  border: 2px solid #E6FF94;
  border-radius: 50%;
}
hgroup span #circle1 {
  position: absolute;
  width: 760px;
  height: 760px;
}
#sectionCalc {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #E6FF94;
  background-color: #A5DD9B;
  color: #E6FF94;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  height: 1440px;
  position: relative;
}
#sectionCalc span {
  background-color: #A5DD9B;
  border: 7px solid #40A578;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  position: absolute;
  left: 5%;
  display: flex;
  flex-direction: column;
  gap: 0;
  top: -8.8%;
}
#sectionCalc span h2 {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #006769;
  font-size: 24px;
}
#sectionCalc article {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
}
#sectionCalc article h3 {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #40A578;
  margin-bottom: 3rem;
  font-size: 48px;
}
#sectionCalc article h4 {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #006769;
  margin-bottom: 3rem;
  font-size: 36px;
}
#sectionCalc article p {
  font-size: 20px;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #006769;
}
#sectionCalc article input {
  background-color: #40A578;
  color: #A5DD9B;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #FFF;
  border: none;
  border-radius: 2rem;
  font-size: 20px;
  margin-top: 4rem;
  width: 40rem;
  padding: 1rem 2rem;
}
#sectionCalc article input::-moz-placeholder {
  font-size: 20px;
  color: #FFF;
}
#sectionCalc article input::placeholder {
  font-size: 20px;
  color: #FFF;
}
#sectionCalc article textarea:focus,
#sectionCalc article input:focus {
  outline: none;
}
#sectionCalc article button {
  background-color: #40A578;
  color: #006769;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #FFF;
  margin-top: 2rem;
  border: none;
  border-radius: 2rem;
  width: 12rem;
  padding: 0.5rem 2rem;
}

#sectionCheck {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #E6FF94;
  background-color: #40A578;
  color: #E6FF94;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  height: 1440px;
  position: relative;
}
#sectionCheck span {
  background-color: #40A578;
  border: 7px solid #A5DD9B;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  position: absolute;
  left: 5%;
  display: flex;
  flex-direction: column;
  gap: 0;
  top: -8.8%;
}
#sectionCheck span h2 {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #A5DD9B;
  font-size: 24px;
}
#sectionCheck article {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
}
#sectionCheck article h3 {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #E6FF94;
  margin-bottom: 3rem;
  font-size: 36px;
}
#sectionCheck article p {
  font-size: 20px;
}
#sectionCheck article input {
  background-color: #A5DD9B;
  color: #006769;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #006769;
  border: none;
  border-radius: 2rem;
  font-size: 20px;
  margin-top: 4rem;
  width: 40rem;
  padding: 1rem 2rem;
}
#sectionCheck article input::-moz-placeholder {
  font-size: 20px;
  color: #40A578;
}
#sectionCheck article input::placeholder {
  font-size: 20px;
  color: #40A578;
}
#sectionCheck article textarea:focus,
#sectionCheck article input:focus {
  outline: none;
}
#sectionCheck article button {
  background-color: #A5DD9B;
  color: #006769;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #006769;
  margin-top: 2rem;
  border: none;
  border-radius: 2rem;
  width: 12rem;
  padding: 0.5rem 2rem;
}

#sectionResource {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #006769;
  background-color: #A5DD9B;
  color: #006769;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  height: 940px;
  position: relative;
}
#sectionResource span {
  background-color: #A5DD9B;
  border: 7px solid #40A578;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  position: absolute;
  left: 5%;
  display: flex;
  flex-direction: column;
  gap: 0;
  top: -13.6%;
}
#sectionResource span h2 {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #006769;
  font-size: 24px;
}
#sectionResource article {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-left: 15rem;
}
#sectionResource article h2 {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #006769;
  font-size: 64px;
}
#sectionResource article p {
  font-size: 20px;
  width: 25%;
}
#sectionResource article ul {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#sectionResource article ul li:hover {
  color: #FFF;
}
#sectionResource article ul li a {
  font-size: 20px;
  color: #006769;
}
#sectionResource article ul li a:hover {
  color: #FFF;
}

#sectionMission {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #E6FF94;
  background-color: #40A578;
  color: #006769;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  height: 940px;
  position: relative;
}
#sectionMission span {
  background-color: #40A578;
  border: 7px solid #A5DD9B;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  position: absolute;
  left: 5%;
  display: flex;
  flex-direction: column;
  gap: 0;
  top: -13.6%;
}
#sectionMission span h2 {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #A5DD9B;
  font-size: 24px;
}
#sectionMission article {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-left: 15rem;
}
#sectionMission article h2 {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #E6FF94;
  font-size: 64px;
}
#sectionMission article p {
  font-size: 20px;
  width: 25%;
  color: #FFF;
}

.container-footer {
  background-color: #40A578;
  color: #FFF;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
  padding: 5rem;
  height: 350px;
}
.container-footer #footerInfo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.container-footer #footerInfo ul {
  text-decoration: none;
  list-style: none;
}
.container-footer #footerInfo ul li,
.container-footer #footerInfo ul h5,
.container-footer #footerInfo ul p {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #FFF;
  font-size: 20px;
}
.container-footer #footerInfo ul li h5 {
  margin-bottom: 2rem;
}
.container-footer #footerInfo ul form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container-footer #footerInfo ul form input {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #006769;
  border: none;
  border-radius: 2rem;
  width: 12rem;
  padding: 0.5rem 2rem;
}
.container-footer #footerInfo ul form textarea:focus,
.container-footer #footerInfo ul form input:focus {
  outline: none;
}
.container-footer #footerInfo ul form:nth-child(1) {
  background-color: #A5DD9B;
  color: #006769;
}
.container-footer #footerInfo ul form:nth-child(2) {
  background-color: #A5DD9B;
  color: #006769;
}
.container-footer #footerInfo ul:nth-child(2) li:nth-child(2) {
  margin-bottom: 2rem;
}
.container-footer #footerInfo ul:nth-child(3) li:nth-child(2) {
  margin-top: -1rem;
  margin-bottom: 1rem;
}
.container-footer #footerLogo p, .container-footer #footerLogo h2 {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #FFF;
  font-size: 20px;
}
.container-footer #footerLogo h2 {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #E6FF94;
  font-size: 64px;
}/*# sourceMappingURL=main.css.map */