@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body,
#sectionCheck article h3,
#sectionCheck article p, .container-main hgroup header .hero-container #circle1 h1, .container-main hgroup header .hero-container #circle1 #circle2 h4, .container-main #sectionCalc article h3, .container-main #sectionCalc article h4, .container-main #sectionCalc article p, .container-main #sectionCheck article h3, .container-main #sectionCheck article p, .container-main #sectionResource article h2, .container-main #sectionResource article ul, .container-main #sectionMission article h2, .container-main .container-footer #footerInfo ul, .container-main .container-footer #footerInfo ul li,
.container-main .container-footer #footerInfo ul h5,
.container-main .container-footer #footerInfo ul p, .container-main .container-footer #footerInfo #footerLogo .logoText p,
.container-main .container-footer #footerInfo #footerLogo .logoText h2 {
  margin: 0;
  padding: 0;
}

.container-main #sectionCalc span, .container-main #sectionCheck span, .container-main #sectionResource span, .container-main #sectionMission span, .container-main .container-footer, .container-main .container-footer #footerInfo #footerLogo {
  justify-content: center;
  align-items: center;
}

.container-main .container-footer #footerInfo #footerLogo .logoText p,
.container-main .container-footer #footerInfo #footerLogo .logoText h2, .container-main .container-footer #footerInfo ul li,
.container-main .container-footer #footerInfo ul h5,
.container-main .container-footer #footerInfo ul p, .container-main .container-footer #footerInfo ul, .container-main #sectionMission article h2, .container-main #sectionResource article ul, .container-main #sectionResource article h2, .container-main #sectionCheck article p, .container-main #sectionCheck article h3, .container-main #sectionCalc article p, .container-main #sectionCalc article h4, .container-main #sectionCalc article h3, .container-main hgroup header .hero-container #circle1 #circle2 h4, .container-main hgroup header .hero-container #circle1 h1, body,
#sectionCheck article h3,
#sectionCheck article p {
  margin: 0;
  padding: 0;
}

.container-main .container-footer #footerInfo #footerLogo, .container-main .container-footer, .container-main #sectionMission span, .container-main #sectionResource span, .container-main #sectionCheck span, .container-main #sectionCalc span {
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  body .container-main hgroup header .hero-container #circle1 {
    width: 250px;
    height: 250px;
  }
  body .container-main hgroup header .hero-container #circle1 h1 {
    font-size: 36px;
  }
  body .container-main hgroup header .hero-container #circle1 #circle2 {
    width: 150px;
    height: 150px;
  }
  body .container-main #sectionResource article h2 {
    font-size: 30px;
  }
  body .container-main #sectionResource article p {
    width: auto;
  }
  body .container-main #sectionResource #resourceCircle {
    display: none;
  }
  body .container-main #sectionMission article h2 {
    font-size: 30px;
  }
  body .container-main #sectionMission article p {
    width: auto;
  }
  body .container-main #sectionMission #missionCircle1 {
    display: none;
  }
  body .container-main #sectionMission #missionCircle2 {
    display: none;
  }
}
#footerInfo ul:nth-child(-n+2) {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body,
#sectionCheck article h3,
#sectionCheck article p {
  overflow-x: hidden;
}

.container-main {
  width: 100%;
}
.container-main hgroup {
  background-color: #40A578;
}
.container-main hgroup nav {
  background-color: #A5DD9B;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  height: 80px;
  width: 100%;
}
.container-main hgroup nav ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.container-main hgroup nav ul li {
  list-style: none;
  text-transform: uppercase;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #006769;
}
.container-main hgroup nav ul li a {
  text-decoration: none;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #006769;
}
.container-main hgroup nav ul li a:hover {
  color: #FFF;
}
.container-main hgroup header {
  height: 940px;
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-main hgroup header .hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-main hgroup header .hero-container span {
  background-color: #40A578;
  border: 4px solid #E6FF94;
  border-radius: 50%;
}
.container-main hgroup header .hero-container #circle1 {
  position: relative;
  width: 47.2vw;
  height: 47.2vw;
}
.container-main hgroup header .hero-container #circle1 h1 {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #E6FF94;
  font-size: 8.2vw;
  color: #E6FF94;
  position: absolute;
  left: -20%;
  top: -6%;
  z-index: 5;
}
.container-main hgroup header .hero-container #circle1 #circle2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -10%;
  bottom: 0%;
  text-transform: uppercase;
  width: 20.8vw;
  height: 20.8vw;
}
.container-main hgroup header .hero-container #circle1 #circle2 h4 {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #E6FF94;
  font-size: 1.5vw;
  text-align: center;
}
.container-main #sectionCalc {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #E6FF94;
  background-color: #A5DD9B;
  color: #E6FF94;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  height: 940px;
  position: relative;
}
.container-main #sectionCalc span {
  background-color: #A5DD9B;
  border: 7px solid #40A578;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  position: absolute;
  top: -13.6%;
  left: 5%;
  display: flex;
  flex-direction: column;
  gap: 0;
}
.container-main #sectionCalc span h2 {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #006769;
  font-size: 24px;
}
.container-main #sectionCalc article {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  position: relative;
}
.container-main #sectionCalc article h3 {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #40A578;
  margin-bottom: 3rem;
  font-size: 48px;
}
.container-main #sectionCalc article h4 {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #006769;
  margin-bottom: 3rem;
  font-size: 36px;
}
.container-main #sectionCalc article p {
  font-size: 20px;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #006769;
}
.container-main #sectionCalc article input {
  background-color: #40A578;
  color: #A5DD9B;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #FFF;
  border: none;
  border-radius: 2rem;
  font-size: 20px;
  margin-top: 4rem;
  width: 45vw;
  padding: 1rem 2rem;
}
.container-main #sectionCalc article input::-moz-placeholder {
  font-size: 20px;
  color: #FFF;
}
.container-main #sectionCalc article input::placeholder {
  font-size: 20px;
  color: #FFF;
}
.container-main #sectionCalc article textarea:focus,
.container-main #sectionCalc article input:focus {
  outline: none;
}
.container-main #sectionCalc article button {
  background-color: #40A578;
  color: #006769;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #FFF;
  margin-top: 2rem;
  border: none;
  border-radius: 2rem;
  width: 12rem;
  padding: 0.5rem 2rem;
}
.container-main #sectionCalc article button:hover {
  background-color: #006769;
  color: #E6FF94;
  cursor: pointer;
}
.container-main #sectionCheck {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #E6FF94;
  background-color: #40A578;
  color: #E6FF94;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  height: 940px;
  position: relative;
}
.container-main #sectionCheck span {
  background-color: #40A578;
  border: 7px solid #A5DD9B;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  position: absolute;
  top: -13.6%;
  left: 5%;
  display: flex;
  flex-direction: column;
  gap: 0;
}
.container-main #sectionCheck span h2 {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #A5DD9B;
  font-size: 24px;
}
.container-main #sectionCheck article {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  position: relative;
}
.container-main #sectionCheck article h3 {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #E6FF94;
  margin-bottom: 3rem;
  font-size: 36px;
}
.container-main #sectionCheck article p {
  font-size: 20px;
}
.container-main #sectionCheck article input {
  background-color: #A5DD9B;
  color: #006769;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #006769;
  border: none;
  border-radius: 2rem;
  font-size: 20px;
  margin-top: 4rem;
  width: 45vw;
  padding: 1rem 2rem;
}
.container-main #sectionCheck article input::-moz-placeholder {
  font-size: 20px;
  color: #40A578;
}
.container-main #sectionCheck article input::placeholder {
  font-size: 20px;
  color: #40A578;
}
.container-main #sectionCheck article textarea:focus,
.container-main #sectionCheck article input:focus {
  outline: none;
}
.container-main #sectionCheck article button {
  background-color: #A5DD9B;
  color: #006769;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #006769;
  margin-top: 2rem;
  border: none;
  border-radius: 2rem;
  width: 12rem;
  padding: 0.5rem 2rem;
}
.container-main #sectionCheck article button:hover {
  background-color: #006769;
  color: #E6FF94;
  cursor: pointer;
}
.container-main #sectionResource {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #006769;
  background-color: #A5DD9B;
  color: #006769;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  height: 940px;
  position: relative;
}
.container-main #sectionResource span {
  background-color: #A5DD9B;
  border: 7px solid #40A578;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  position: absolute;
  top: -13.6%;
  left: 5%;
  display: flex;
  flex-direction: column;
  gap: 0;
}
.container-main #sectionResource span h2 {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #006769;
  font-size: 24px;
}
.container-main #sectionResource article {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-left: 12rem;
}
.container-main #sectionResource article h2 {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #006769;
  font-size: 64px;
}
.container-main #sectionResource article p {
  font-size: 20px;
  width: 420px;
}
.container-main #sectionResource article ul {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.container-main #sectionResource article ul li:hover {
  color: #FFF;
}
.container-main #sectionResource article ul li a {
  font-size: 20px;
  color: #006769;
}
.container-main #sectionResource article ul li a:hover {
  color: #FFF;
}
.container-main #sectionResource #resourceCircle {
  background-color: #A5DD9B;
  border: 5px solid #40A578;
  border-radius: 50%;
  position: absolute;
  top: 120px;
  left: 60%;
  width: 1000px;
  height: 1000px;
}
.container-main #sectionMission {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #E6FF94;
  background-color: #40A578;
  color: #006769;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  height: 940px;
  position: relative;
}
.container-main #sectionMission span {
  background-color: #40A578;
  border: 7px solid #A5DD9B;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  position: absolute;
  top: -13.6%;
  left: 5%;
  display: flex;
  flex-direction: column;
  gap: 0;
}
.container-main #sectionMission span h2 {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #A5DD9B;
  font-size: 24px;
}
.container-main #sectionMission article {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-left: 12rem;
}
.container-main #sectionMission article h2 {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #E6FF94;
  font-size: 64px;
}
.container-main #sectionMission article p {
  font-size: 20px;
  width: 520px;
  color: #FFF;
}
.container-main #sectionMission #missionCircle1 {
  background-color: #40A578;
  border: 5px solid #E6FF94;
  border-radius: 50%;
  position: absolute;
  top: 120px;
  left: 70%;
  width: 700px;
  height: 700px;
  overflow: hidden;
}
.container-main #sectionMission #missionCircle2 {
  background-color: #40A578;
  border: 5px solid #E6FF94;
  border-radius: 50%;
  position: absolute;
  top: 500px;
  left: 60%;
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.container-main .container-footer {
  background-color: #40A578;
  color: #FFF;
  padding: 5rem;
  display: flex;
  flex-direction: row;
  gap: 0;
}
.container-main .container-footer #footerInfo {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.container-main .container-footer #footerInfo ul {
  margin-top: 2rem;
  text-decoration: none;
  list-style: none;
}
.container-main .container-footer #footerInfo ul li,
.container-main .container-footer #footerInfo ul h5,
.container-main .container-footer #footerInfo ul p {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #FFF;
  font-size: 20px;
}
.container-main .container-footer #footerInfo ul li h5 {
  margin-bottom: 2rem;
}
.container-main .container-footer #footerInfo ul form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container-main .container-footer #footerInfo ul form input {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #006769;
  border: none;
  border-radius: 2rem;
  padding: 0.4rem 1rem;
}
.container-main .container-footer #footerInfo ul form textarea:focus,
.container-main .container-footer #footerInfo ul form input:focus {
  outline: none;
}
.container-main .container-footer #footerInfo ul form #email {
  background-color: #E6FF94;
  color: #40A578;
  width: 12rem;
}
.container-main .container-footer #footerInfo ul form #email::-moz-placeholder {
  color: #40A578;
}
.container-main .container-footer #footerInfo ul form #email::placeholder {
  color: #40A578;
}
.container-main .container-footer #footerInfo ul form #submit {
  background-color: #40A578;
  color: #E6FF94;
  border: 1px solid #E6FF94;
  width: 5rem;
}
.container-main .container-footer #footerInfo ul form #submit:hover {
  color: #FFF;
  cursor: pointer;
}
.container-main .container-footer #footerInfo ul:nth-child(2) li:nth-child(2) {
  margin-bottom: 2rem;
}
.container-main .container-footer #footerInfo ul:nth-child(3) li:nth-child(2) {
  margin-top: -1rem;
  margin-bottom: 1rem;
}
.container-main .container-footer #footerInfo #footerLogo {
  border: 3px solid #E6FF94;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  gap: 0;
  position: relative;
}
.container-main .container-footer #footerInfo #footerLogo .logoText p,
.container-main .container-footer #footerInfo #footerLogo .logoText h2 {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #FFF;
  font-size: 20px;
}
.container-main .container-footer #footerInfo #footerLogo .logoText h2 {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #E6FF94;
  font-size: 64px;
}
.container-main .container-footer #footerInfo #footerLogo #footerCircle {
  background-color: #40A578;
  border: 3px solid #E6FF94;
  position: absolute;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  bottom: -2%;
  right: -21%;
}/*# sourceMappingURL=main.css.map */