@use "../helpers/_placeholders";
@use "../helpers/_variables" as var;
@use "../helpers/_mixins" as mx;

@media only screen and (max-width: 1200px) {
    .container-main {
        hgroup {
            header {
                .hero-container {
                    #circle1 {
                        width: 300px;
                        height: 300px;

                        h1 {
                            font-size: 36px;
                            left: 0;
                            right: 0;
                        }

                        #circle2 {
                            width: 130px;
                            height: 130px;
                            bottom: -25%;
                            right: 0;
                            h4{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }

        #sectionResource {}

        #sectionMission {
            #missionCircle1 {
                display: none;
            }

            #missionCircle2 {
                display: none;
            }
        }
    }
}


@media only screen and (max-width: 900px) {
    body {


        .container-main {
            hgroup {
                nav {
                    ul {
                        @include mx.flexing(row, 5px);
                        padding: 0;
                    }
                }

                header {
                    height: 500px;
                    .hero-container {
                        margin-bottom: 50px;
                        #circle1 {

                            h1 {
                                font-size: 36px;
                                left: 20%;
                                top: 18%;
                            }

                            #circle2 {

                            }
                        }
                    }
                }
            }

            #sectionCalc {
                padding: 0 1rem;

                article {
                    h3{
                        font-size: 20px;
                    }
                    input {
                        width: auto;
                    }
                }
            }


            #sectionCheck {
                padding: 0 1rem;

                article {
                    input {
                        width: auto;
                    }
                }
            }

            #sectionResource {
                padding: 0 1rem;

                article {
                    padding: 0;

                    h2 {
                        font-size: 30px;
                    }

                    p {
                        width: auto;
                    }
                }

                #resourceCircleBig {
                    display: none;
                }
            }

            #sectionMission {
                padding: 0 1rem;

                article {
                    padding: 0;

                    h2 {
                        font-size: 30px;
                    }

                    p {
                        width: auto;
                    }
                }


                #missionCircle1 {
                    display: none;
                }

                #missionCircle2 {
                    display: none;
                }
            }

            .container-footer {
                padding: 0;
                padding-bottom: 2rem;

                #footerInfo {
                    gap: 1vw;

                    ul:nth-child(-n+2) {
                        display: none;
                    }

                    #footerLogo {
                        border: 3px solid #E6FF94;
                        width: 7rem;
                        height: 7rem;
                        border-radius: 50%;
                        display: flex;
                        flex-direction: column;
                        gap: 0;
                        position: relative;

                        .logoText {
                            h2 {
                                font-size: 34px;
                            }
                        }

                        #footerCircle {
                            background-color: #40A578;
                            border: 3px solid #E6FF94;
                            position: absolute;
                            border-radius: 50%;
                            width: 2rem;
                            height: 2rem;
                            bottom: -13%;
                            right: -1%;
                        }
                    }
                }
            }
        }
    }
}