@use "../helpers/_placeholders";
@use "../helpers/_variables" as var;
@use "../helpers/_mixins" as mx;


@media only screen and (max-width: 900px) {
    body {


        .container-main {
            hgroup {
                header {
                    .hero-container {
                        #circle1 {
                            width: 250px;
                            height: 250px;

                            h1 {
                                font-size: 36px;
                            }

                            #circle2 {
                                width: 150px;
                                height: 150px;
                            }
                        }
                    }
                }
            }

            #sectionCalc {
                article {
                    input {
                        // width: auto;
                    }
                }
            }

            #sectionResource {
                article {
                    h2{
                        font-size: 30px;
                    }
                    p {
                        width: auto;
                    }
                }

                #resourceCircle {
                    display: none;
                }
            }

            #sectionCheck {
                article {
                    input {
                        // width: auto;
                    }
                }
            }

            #sectionMission {
                article {
                    h2{
                        font-size: 30px;
                    }
                    p {
                        width: auto;
                    }
                }


                #missionCircle1 {
                    display: none;
                }

                #missionCircle2 {
                    display: none;
                }
            }

        }
    }
}

#footerInfo {
    ul:nth-child(-n+2) {
        display: none;
    }
}